.myinfo-container {
  max-width: 500px;
  margin: 60px auto;
  padding: 120px 24px;
}

/* .form-group {
  margin-bottom: 20px;
} */

/* label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
} */

/* input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
} */

/* button {
  padding: 12px 20px;
  background: #ad5457;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
} */
