.floating-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}


.floating-mascot {
  position: fixed;
  bottom: 20px;
  right: 60px;
  width: 80px;
  height: 80px;
  /* border-radius: 40px; */
  /* background: #ad5457; */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f3ece9;
  gap: 10px;
  cursor: pointer;
}

/* .happy-sotal {
  width: 50px !important;
  height: 50px !important;
  object-fit: contain;
} */


.dropdown-menu {
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 90px;
  padding: 10px 0;
  width: 160px;
  animation: fadeInUp 0.2s ease;
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f3ece9;
  font-weight: bold;
}


.reservation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 12px;
  padding: 20px;
  z-index: 9999;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.popup-row {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.reservation-popup label {
  display: block;
  margin: 12px 0;
}


.time-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.time-buttons button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f3f3f3;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.time-buttons button.active {
  background-color: #ad5457;
  color: white;
  border-color: #ad5457;
  font-weight: bold;
}


.popup-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.popup-buttons button {
  padding: 8px 12px;
  border: none;
  background-color: #ad5457;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.popup-buttons button:last-child {
  background-color: #333;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}