.floating-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* .floating-mascot {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #AD5457;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
} */

.happy-sotal {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  bottom: 70px;
  right: 0;
  background: white;
  border: 1px solid #AD5457;
  border-radius: 12px;
  padding: 10px;
  /* max-height: 300px; */
  overflow-y: auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  width: 160px;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: #fcecec;
}

/* 문의 선택 팝업 */
.contact-choice-popup,
.call-popup,
.message-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 14px;
  width: 400px;
  z-index: 2000;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: 'Pretendard', sans-serif;
}

.contact-options {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  text-decoration: none;
  /* transition: background 0.2s ease; */
}

.option:hover {
  background-color: #f9f4f4;
}

.option img {
  width: 45px;
  height: 45px;
  margin-bottom: 6px;
}

.option span {
  font-size: 14px;
  color: #AD5457;
  font-weight: 500;
}

.call-button {
  display: inline-block;
  background-color: #AD5457;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  margin: 20px 0;
  font-size: 14px;
}

.message-textarea {
  width: 90%;
  height: 100px;
  resize: none;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: 'Pretendard', sans-serif;
  font-size: 14px;
  border-radius: 8px;
}

.popup-buttons {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.popup-buttons button,
.close-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background-color: #eee;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Pretendard', sans-serif;
  /* transition: background 0.2s ease; */
}

.popup-buttons button:hover,
.close-btn:hover {
  background-color: #e4e4e4;
}


@media (max-width: 900px) {
  /* 문의 선택 팝업 */
.contact-choice-popup,
.call-popup,
.message-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 14px;
  width: 200px;
  z-index: 2000;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: 'Pretendard', sans-serif;
}

}
